body{
  background-image: url('img/bg.png');
  background-size : 100vw;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #F5B7B1 ;
  padding: 0;
  transition: all 2s;
}
.menu a {
    color: #69443c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    font-weight: quicksand;

}


.menu a:hover, a:active {
  color:pink;
}

p{font-family: quicksand;
font-size :16px;
text-align:left;
color:#69443c;
line-height: 1.5;
}

h1{
  font-family: quicksand;
  font-size :35px;
  text-align:center;
  color:#69443c;
}

.intro1{
  font-family: quicksand;
  text-align: left;
  font-size :15px;
  color:#69443c;
}

.pic1{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}
.pic2{
  display: block;
   margin-left: auto;
   margin-right: auto;
   object-fit: cover;
  width:430px;
  height:430px
}

@media screen and (min-width: 600px) {
  .menu {
    background-color: white;
      color: #69443c;
    opacity: 2.0;
    padding:2vmin;
    grid-template-columns: repeat(5, 1fr);
  }
}
